@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway&family=Roboto+Condensed&display=swap");

nav {
  background: #161619;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

.nav_menu {
  
}

body {
  background-image: url(../imagenes/rondeau.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #00000044;
  background-blend-mode: darken;
  margin: 0px;
  height: 100vh;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.barra_txt {
  margin: auto;
  width: 900px;
  height: 90px;
  background: rgba(66, 31, 41, 0.8);
  border-radius: 43px;
  
}

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

h2 {
  display: flex;
  justify-content:center;
  font-family: "Merriweather Sans", sans-serif;
  height:85px;
  align-items: center;
}

#ubicacion {
  height: 30px;
}

article {
  margin: auto;
  width: 900px;
  height: 120px;
  background: rgba(66, 31, 41, 0.8);
  border-radius: 43px;
}

.galeria_fotos {
  margin: auto;
  width: 1400px;
  height: 400px;
  background: rgba(66, 31, 41, 0.8);
  border-radius: 43px;
}

.barra_contacto {
  margin: auto;
  width: 600px;
  height: 400px;
  background: rgba(66, 31, 41, 0.8);
  border-radius: 43px;
}

.barra_sobrenosotros {
  margin: auto;
  width: 800px;
  height: 300px;
  background: rgba(66, 31, 41, 0.8);
  border-radius: 43px;
}

p {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 30px;
  display: inline-block;
  margin: 20px;
}

.logo_grande {
  text-align: center;
  margin: 30px;

}
